.vs/
Personal Financial Dashboard/obj/
*.cache
Personal Financial Dashboard/obj/Debug/net8.0/*
Personal Financial Dashboard/Personal Financial Dashboard/obj/Debug/net8.0/Personal Financial Dashboard.AssemblyInfo.cs